{% extends "orders/base.html" %}
{% load static %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}
	<div class="product-detail">
		<img src="{% if product.category|slugify == 'pizza' %} {% static 'img/pizza.png' %} {% elif product.category|slugify  == 'subs' %} {% static 'img/subs.png' %} {% elif product.category|slugify  == 'salads' %} {% static 'img/salad.jpg' %} {% elif product.category|slugify  == 'pasta' %} {% static 'img/pasta.jpg' %} {% elif product.category|slugify  == 'dinner platters' %} {% static 'img/dinner.jpg' %} {% else %} {% static 'img/blank.png' %}{% endif %}">
		<h1>{{ product.name }}</h1>
		<h2>
			<a href="{{ product.category.get_absolute_url }}">
			{{ product.category }}
			</a>
		</h2>
		<p class="price">${{ product.price }}</p>
		{% if product.category|slugify == 'pizza' %}
		<p>Alert Special Pizza Offer!!!: Select five or more toppings and get 5% off</p>
		{% endif %}
		{{ product.description|linebreaks }}
	</div>
	<div id="side">
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
		{{ cart_product_form }}
		{% csrf_token %}
			<input type="submit" value="Add to cart">
		</form>
	</div>
{% endblock %}
