{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}My Pizza kitchen{% endblock %}</title>
	<link href="{% static "css/base.css" %}" rel="stylesheet">
	</head>
<body style=" background-image: url({% static 'img/pizz.png' %});">
	<div id="header">
		<a href="/" class="logo">My Pizza Kitchen</a>
	</div>
	<div id="subheader">
		<span class="user">
		{% if request.user.is_authenticated %}
			Hello {{ request.user.first_name }},
			<a href="{% url "logout" %}">Logout</a>
		{% else %}
			<a href="{% url "login" %}">Log-in</a>
		{% endif %}
		</span>
		<div class="cart">
		{% with total_items=cart|length %}
			{% if total_items > 0 %}
				Your cart:
				<a href="{% url "cart:cart_detail" %}">
				{{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
				</a>
			{% else %}
				Your cart is empty.
			{% endif %}
		{% endwith %}
		</div>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
